<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
  <main>
    <span>
      <div>
        <h1>Create an Account</h1>
        <form method="POST" action="/signup">
          <input name="username" placeholder="username">
          <input type="password" name="password" placeholder="password" >
          <button type="submit" id="signup">sign up</button>
        </form>
      </div>
      <div>
        <h1>Sign into an Existing Account</h1>
        <form id="signinForm" method="POST" action="/signin">
          <input name="username" placeholder="username" id="username" type="text">
          <input type="password"  name="password" placeholder="password" id="password">
          <button type="submit" id="signin">sign in</button>
        </form>
        <form method="GET" action="/secret" id="admin">
          <button type="submit">Admin Area</button>
        </form>
      </div>
    </span>
  </main>
</body>
<script type="text/javascript" src="./app.js"></script>
</html>
